html,
body {
  height: 100%;
  /* to use % values on height */
  font-family: 'Rubik Distressed', ;
}

/* to remove the default margins and paddings */
html,
body,
h1,
p1 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Rubik Distressed', cursive;
}




canvas {
  display: block;
}