 body {
     font-family:
         Verdana,
         sans-serif
 }

 body,
 h3 p {
     margin: 0
 }

 .box {
     background-color: blueviolet;
     width: 150px;
     height: 100px;
     margin: 20px;
     padding: 10px;
     border-width: 5px;
     border-style: dotted;
     border-color: solid blueviolet;


 }

 #special-box {
     background-color: brown;
     position: absolute;
     left: 100px;
     top: 50px;

 }


 .text-title {
     font-size:
         20px;
     margin: bottom 10px;

 }

 .text-dsc {
     font-size:
         15px;
 }